* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    text-shadow: 0px 5px 6px #242424;
    color: white;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* TIME & QUOTE */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: -8em;
    padding: 2em;
    border-radius: 10px;
}

.time {
    text-align: center;
    font-size: 5rem;
    margin-bottom: .2em;
    border-top: 3px solid #a03e4a;
    border-bottom: 3px solid #a03e4a;
    padding: .1em .75em;
}

.loading-img {
    width: 80px;
}

.quote {
    padding-top: 1em;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    text-shadow: 0px 5px 5px #000;
}


/* WEATHER */
.weather {
    display: flex;
    align-self: flex-end;
    /* background-color: #2c2f4a29; */
    font-weight: 700;
    padding: .7em;
    border-radius: 5px;
}

.icon-temp {
    display: flex;
    align-items: center;
}

.icon-temp img {
    width: 40px;
    height: 100%;
    margin: 0;
}

.weather-temp {
    margin: 0;
    font-size: 1.3rem;
}

.weather-city {
    font-size: 1rem;
    text-align: center;
}


/* PHOTO AUTHOR */
p#author {
    font-size: 1rem;
    align-self: flex-start;
    padding: 1em;
    background-color: #24242473;
    border-radius: 2px;
}